.projects-container {
    display: grid;
    gap: 10px;
    margin: 0 10px;
    padding: 0 0 20px;
    max-width: 425px;
}

.projects-container > div {
    position: relative;
    border: 2px solid var(--green) ;
    overflow: hidden;
}

.projects-container > div > img {
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.projects-container > div > img ~ h3 {
    margin: 10px 0;
    text-align: center;
    font-family: "Lora", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.projects-container > div > img ~ p {
    padding: 10px;
    line-height: 1.5;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.projects-container a {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
}

.projects-container a > img {
    width: 40px;
    text-align: center;
}

@media (min-width: 445px) {
    .projects-container {
        margin: auto;
    }
    
}

@media (min-width: 800px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 10px;
    }
    
}