.coding-assessments-container {
    display: grid;
    gap: 15px;
    margin: 0 10px;
    padding: 0 0 20px;
    max-width: 425px;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 445px) {
    .coding-assessments-container {
        margin: auto;
    }
}

@media (min-width: 800px) {
    .coding-assessments-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 10px;
    }
    
}