.h2-container {
    position: relative;
    margin-top: 20px;
    background-color: var(--neutral);
    z-index: -2;
}


h2 {
    width: fit-content;
    padding: 10px 15px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
    font-family: "Lora", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
    background-color: var(--neutral);
    border: 2px solid var(--green)
}


h2::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--green);
    z-index: -1;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding-bottom: 10px;
}

section > p {
    line-height: 1.75;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}